<p id="notice"><%= notice %></p>

<img src="<%= @blog.image %>" alt="">

<p>
  <strong>User:</strong>
  <%= @blog.user.fullname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<%= link_to 'Edit Blog', edit_blog_path(@blog) %> |
<%= link_to 'Back to Blogs', blogs_path %>

<p>
  <strong>Comments:</strong>
  <% @blog.comments.each do |comment| %>
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to user_url(comment.user_id, comment) do %>
        <h5><%= comment.user.fullname%></h5>
        <% end %>
        <br>
        <h6><%= comment.body %></h6>
        <br>
        <small><%= link_to 'Edit Comment', edit_blog_comment_path(@blog,comment)%></small> |
        <small><%= link_to 'Delete Comment', blog_comment_url(@blog, comment), method: :delete, data: { confirm: 'Are you sure?' } %></small>
      </li>
    </ul>
  <% end %>
</p>

<br>
<%= link_to 'New Comment', new_blog_comment_path(@blog) %>
